
body {
    padding: 0px;
    margin: 0px;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

#top-bar {
    display: flex;
    
}

#left-bar {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    margin-left: 20px;
    
}

#right-bar {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    
}

.list {
    font-family: arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    color: #000000;
    padding: 0px 10px 0px 10px;
}

#menu {
    height: 25px;
    width: 25px;
    margin: auto;
    margin-left: 0px;
    margin-right: 10px;
}

#icon {
border-radius: 50%;
height: 32px;
width: 32px;
margin: auto;
margin-left: 10px;
margin-right: 20px;
}


#image{
    margin: auto;
    display: flex;
    justify-content: center; 
}

#search-form{
    margin: auto;
    display: flex;  
    justify-content: center; 
}


.round {
    width: 100%;
    border-radius: 15px;
    border: 1px #000 solid;
    padding: 5px 25px 5px 25px;
    position: absolute;
    top: 0;
    left: 0;
   
}


.search {
    position: relative;
    width: 190px;
    height: 30px;
}