
body {
    padding: 0px;
    margin: 0px;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

#top-bar {
    display: flex;
    
}

#left-bar {
    display: flex;
    width: 50%;
    justify-content: flex-start;
    margin-left: 20px;
    
}



#right-bar {
    display: flex;
    width: 50%;
    justify-content: flex-end;
    
    
}

.list {
    font-family: arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    display: flex;
    color: #000000;
    padding: 0px 20px 0px 10px;
}

a:link{
    text-decoration: none;
    color: #000000;
}

a:visited{
    text-decoration: none;
    color: #000000;
    
  }

  a:active {
    color: black;
    text-decoration: none;
  }

.list:hover{
    text-decoration: underline;
}



#menu {
    height: 25px;
    width: 25px;
    margin: auto;
    margin-left: 0px;
    margin-right: 10px;
}

#icon {
border-radius: 50%;
height: 32px;
width: 32px;
margin: auto;
margin-left: 10px;
margin-right: 20px;
}


#image{
    margin: auto;
    display: flex;
    justify-content: center; 
    padding-left: 4vw;
}

@media screen and (max-width: 700px) {
#image{
    width: 30%;
    height: 30%;
}
}

#search-form{
    margin: auto;
    display: flex;  
    justify-content: center; 
}


.round {
    width: 100%;
    border-radius: 30px;
    border: .5px lightgrey solid;
    padding: 5px 25px 5px 25px;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
   
   
}

.round:hover {
    
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
    border-color: rgba(223, 225, 229, 0);
}

.round:focus {
    outline:0;
}


.search {
    position: relative;
    width: 400px;
    
}




.loupebutton {
    margin-top: 8px;
    width: 18px;
    height: 18px;
    border: none;
    background: transparent;
    background-image: url(https://icons-for-free.com/iconfiles/png/512/explore+find+magnifier+search+icon-1320185008030646474.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    padding: 0px 0px 0px 0px;
}


.micdiv{

    width: 455px;
    padding-left: 5px;
    width: 443px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    margin: auto;

}

.micbutton {
    margin-top: 5.5px;
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
    background-image: url(https://i.imgur.com/l5S4LZ2.png);
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    padding: 0px 0px 0px 0px;
}

#button-container{
    display: flex;
    width: 350px;
    height: 60px;
    margin: auto;
    padding-top: 0px;
    justify-content: center; 
    overflow: hidden;
}

#goo{
    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    border: none;
    border-radius: 2px;
    opacity: 0.75;
    height: 36px;
    padding-right: 10px;
}

#lucky{
    margin-top: 10px;
    margin-left: 10px;
    display: inline-block;
    float: right;
    border: none;
    border-radius: 2px;
    opacity: 0.75;
    height: 36px;
    padding-left: 10px;
}

#goo:hover {
    
    box-shadow: 0 0 10px lightgray;
}

#goo:focus {
    outline:0;
}


#lucky:hover {
    
    box-shadow: 0 0 10px lightgray;
}

#lucky:focus {
    outline:0;
}

.footer{
    background-color: #efefef;
    display: flex;
    flex-direction: row;
    font-family: arial, sans-serif;
    font-size: 13px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    justify-content: space-between;
}

@media screen and (max-width: 700px) {
    .footer {
      display: flex;
      flex-direction: column;
      height: 7.5rem;
    }
  }

.footerleft {
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.footermiddle{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

.footerright{
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#Ads{
    padding-left: 10px;
    padding-right: 10px;
}

#Bus{
    padding-right: 10px;
}

#Priv{
    padding-right: 10px;
}

#Ter{
    padding-right: 10px;
}

#Set{
    padding-right: 10px;
}